{% extends "base.html" %}
{% block title %}Billing Code Form{% endblock %}
{% block sidebar %}{{ super() }}{% endblock %}
{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('main.index') }}">Home</a>
    </li>
    <li>
      {% if user %}
        <a href="{{ url_for('admin.user_settings', user_id=user.id) }}">User #{{ user.id }} Settings</a>
      {% else %}
        <a href="{{ url_for('account.settings') }}">Settings</a>
      {% endif %}
    </li>
    <li>
      {% if user %}
        <a href="{{ url_for('admin.user_billing_codes', user_id=user.id) }}">Settings</a>
      {% else %}
        <a href="{{ url_for('account.billing_codes') }}">Billing codes</a>
      {% endif %}
    </li>
    <li>
      <a href="#" class="active">add billing codes</a>
    </li>
  </ul>
{% endblock %}
{% block page_content %}
  <div class="col-md-12">
    <div class="panel-body">
      <h5>{% if user %}User #{{ user.id }} {% endif %}Add Billing codes</h5>
      <form method="post" name="doctor" enctype='multipart/form-data'>
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label>CSV File</label>
          {% for error in form.csv_file.errors %}
            <span class="help" style="color: #f55753;">[{{ error }}]</span>
          {% endfor %}
          {{ form.csv_file(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.submit(class_="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}