<table cellpadding="0" cellspacing="0" style="width: 100%;">
<tr>
    <td style="vertical-align: top; font-size: 16px; padding: 10px; border-top: 1px solid #999; border-left: 1px solid #999;">
        <strong>GOP Request {% if gop.final %}(FINAL){% else %}(INITIAL){% endif %}</strong>
    </td>
    <td style="vertical-align: top; font-size: 16px; padding: 10px; border-top: 1px solid #999;">
        {{ gop.patient.name }}
    </td>
    <td style="vertical-align: top; padding: 10px; border-top: 1px solid #999; border-right: 1px solid #999;">
        <h5 style="font-size: 16px; margin-bottom: 0; margin-top: 0; {% if gop.status %} {% if gop.status == 'approved' %}color:#187A30;{% elif gop.status == 'declined' %}color:#EA1A22;{% elif gop.status == 'pending' %}color:#000000;{% elif gop.status == 'in review' %}color:#FF8C00;{% endif %}{% else %}color:#FF8C00;{% endif %}">
            <span class="bold">
                {% if gop.status %}
                    {% if gop.status == 'approved' %}
                        <i class="glyphicon glyphicon-ok approved"></i>
                    {% elif gop.status == 'declined' %}
                        <i class="glyphicon glyphicon-remove declined"></i>
                    {% elif gop.status == 'pending' %}
                        <i class="glyphicon glyphicon-warning-sign"></i>
                    {% elif gop.status == 'in review' %}
                        <i class="glyphicon glyphicon-hourglass review"></i>
                    {% endif %}
                    {{ gop.status|upper }}
                {% else %}
                    <i class="glyphicon glyphicon-hourglass review"></i> IN REVIEW
                {% endif %}
            </span>
        </h5>
    </td>
</tr>
<tr>
    <td style="vertical-align: top; border-left: 1px solid #999;"></td>
    <td style="vertical-align: top; padding: 10px;">
        <div>{{ gop.payer.company }}</div>
        <div>
        {% if gop.policy_number %}
            {{ gop.policy_number }}
        {% endif %}
        </div>
    </td>
    <td style="vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        {% if gop.status == 'approved' %}
            Approved
        {% elif gop.status == 'declined' %}
            Rejected
        {% elif gop.status == 'pending' %}
            Sent
        {% elif gop.status == 'in review' or not gop.status %}
            Reviewed
        {% endif %}
        By {% if gop.stamp_author %}{{ gop.stamp_author }}{% else %}Not specified{% endif %}
        <br>
        {% if gop.payer.pic %}
            {{ gop.timestamp.strftime('%I:%M%p %m/%d/%Y') }}
        {% endif %}
    </td>
</tr>
<tr>
    <td colspan="3" style="vertical-align: top; font-size: 16px; padding: 10px; border-left: 1px solid #999; border-right: 1px solid #999;"><strong>Patient</strong></td>
</tr>
<tr>
    <td rowspan="3" style="vertical-align: top; padding: 10px; border-left: 1px solid #999;">
        {% if gop.patient.photo == "/static/uploads/" %}
            <img style="max-width: 100%;" src="{{ root }}/static/img/person-solid.png">
        {% else %}
            <img style="max-width: 100%;" src="{{ root }}{{ gop.patient.photo }}">
        {% endif %}
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>NAME</strong></div>
        <div>{{ gop.patient.name }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        <div><strong>GENDER</strong></div>
        <div>{{ gop.patient.gender|capitalize }}</div>
    </td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>DATE OF BIRTH</strong></div>
        <div>{{ gop.patient.dob.strftime('%m/%d/%Y') }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        <div><strong>MEDICAL RECORD NR.</strong></div>
        <div>{{ gop.patient_medical_no }}</div>
    </td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>PATIENT PHONE NR.</strong></div>
        <div>{{ gop.patient.tel }}</div>
    </td>
    <td style="vertical-align: top; border-right: 1px solid #999;"></td>
</tr>
<tr>
    <td style="vertical-align: top; border-left: 1px solid #999; padding: 10px;">
        <div><strong>ADMISSION DATE</strong></div>
        <div>{{ gop.admission_date.strftime('%m/%d/%Y') }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>REQUESTED BY</strong></div>
        <div>
        {% if gop.provider.pic %}
          {{ gop.provider.pic }}
        {% else %}
          Not specified
        {% endif %}
        </div>
    </td>
    <td style="vertical-align: top; border-right: 1px solid #999;"></td>
</tr>
<tr>
    <td style="vertical-align: top; border-left: 1px solid #999; padding: 10px;">
        <div><strong>ADMISSION TIME</strong></div>
        <div>{{ gop.admission_time.strftime('%I:%M %p') }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>TIME REQUESTED</strong></div>
        <div>{{ gop.timestamp.strftime('%I:%M %p') }}</div>
    </td>
    <td style="vertical-align: top; border-right: 1px solid #999;"></td>
</tr>
<tr>
    <td colspan="3" style="vertical-align: top; font-size: 16px; padding: 10px; border-left: 1px solid #999; border-right: 1px solid #999;"><strong>Cost estimation</strong></td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px; border-left: 1px solid #999;">
        <div><strong>ROOM PRICE</strong></div>
        <div>{{ '{:,.2f}'.format(gop.room_price) }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>ROOM TYPE</strong></div>
        <div>{{ gop.room_type|upper }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        <div><strong>DOCTOR FEE</strong></div>
        <div>{{ '{:,.2f}'.format(gop.doctor_fee) }}</div>
    </td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px; border-left: 1px solid #999;">
        <div><strong>SURGERY FEE</strong></div>
        <div>{{ '{:,.2f}'.format(gop.surgery_fee) }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>MEDICATION FEE</strong></div>
        <div>{{ '{:,.2f}'.format(gop.medication_fee) }}</div>
    </td>
    <td style="color: #933432; vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        <div><strong>QUOTATION</strong></div>
        <div>
            <p><strong style="font-size: 14px; line-height: 12px;">
            {% if gop.quotation %}
                {{ '{:,.2f}'.format(gop.quotation) }}
            {% else %}
                0.00
            {% endif %}
            </strong></p>
        </div>
    </td>
</tr>
<tr>
    <td colspan="3" style="vertical-align: top; font-size: 16px; padding: 10px; border-left: 1px solid #999; border-right: 1px solid #999;"><strong>Medical details</strong></td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px; border-left: 1px solid #999;">
        <div><strong>DOCTOR NAME</strong></div>
        <div>{{ gop.doctor_name }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px;">
        <div><strong>PLAN OF ACTION</strong></div>
        <div>{{ gop.patient_action_plan }}</div>
    </td>
    <td style="vertical-align: top; padding: 10px; border-right: 1px solid #999;">
        <div><strong>ICD LIST</strong></div>
        <div>
            {% if icd_codes|length > 0 %}
                {% for icd_code in icd_codes %}
                  {{ icd_code.code }}<br>
                {% endfor %}
            {% endif %}
        </div>
    </td>
</tr>
<tr>
    <td style="vertical-align: top; padding: 10px; border-left: 1px solid #999;">
        <div><strong>DOCTOR NOTES</strong></div>
        <div>{{ gop.doctor_notes }}</div>
    </td>
    <td style="vertical-align: top;"></td>
    <td style="vertical-align: top; border-right: 1px solid #999;"></td>
</tr>
<tr>
    <td colspan="3" style="text-align: center; vertical-align: top; padding: 10px; border-bottom: 1px solid #999; border-right: 1px solid #999; border-left: 1px solid #999">
        <a href="{{ root[:-1] }}{{ url_for('main.request_page', gop_id=gop.id) }}" style="padding: background: #6d5cae; padding: 10px 15px; text-align: center; text-decoration: none; color: #fff;">Review Request</a><br>
        {% if user %}
            <p style="text-align: center;">You can login to the system using the credendtials below:</p>
            <p style="text-align: center;">
                login: {{ user.email }}<br>
                pass: {{ rand_pass }}
            </p>
        {% endif %}
    </td>
</tr>
</table>