{% extends "one_tap/base.html" %}
{% block title %}Setup{% endblock %}
{% block sidebar %}{{ super() }}{% endblock %}
{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('one_tap.index') }}">Home</a>
    </li>
    <li>
      <a href="#" class="active">Setup</a>
    </li>
  </ul>
{% endblock %}
{% block page_content %}
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>Setup</h5>
        <h5>1-TAP</h5>
      </div>
    </div>
  </div>
{% endblock %}